body {
    background-color: #0d1117;
    color: hsl(210, 17%, 82%);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0;
    padding: 0;
    width: 800px;
    max-width: 100%;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
}
a:visited {
    color: #eee;
}

a {
    color: #fff;
}

nav {
    margin: 0;
    padding: 0;
    width: 50%;
    background-color: #161b22;
}

main {
    margin: 0;
    padding: 0;
    width: 50%;
    background-color: #161b22;
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: small;
    background-color: #0d1117;
}